.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# User-specific settings
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Playgrounds
timeline.xctimeline
playground.xcworkspace/
